<app-header></app-header>
<div class="form-gadgets forgotPassword">
    <div class="form-container forgotPassword__form">
        <form class="form-user" action="">
            <div class="forgotPassword__content">
                <label for="email">Vui lòng nhập địa chỉ Email</label><br>
                <input type="email" name="email"><br>
            </div>
            <div class="forgotPassword__btn">
                <button class="btn--forgotPassword">Lấy lại mật khẩu</button>
            </div>
            <div class="forgotPassword__login">
                <span>hoặc <a href="/login">Đăng nhập</a></span>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>