<section class="main-admin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 left-admin">
                <app-sidebar-admin></app-sidebar-admin>
            </div>
            <div class="col-10 right-admin">
                <app-header-admin></app-header-admin>

                <section class="formInsertEdit">
                    <div class="formInsertEdit__title">
                        <h3>THÊM SẢN PHẨM</h3>
                    </div>
                    <div class="formInsertEdit__space"></div>
                    <div class="formInsertEdit__content">
                        <form [formGroup]="formPD" (ngSubmit)="onSubmit()">
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="idPd">Mã sản phẩm</label><br>
                                <input class="formInsertEdit__input input-readonly" type="text" name="idPd" id="idPd"
                                    value="Auto number" readonly>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="namePd">Tên sản phẩm</label><br>
                                <input class="formInsertEdit__input" type="text" name="namePd" id="namePd"
                                    formControlName="namePd" required>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('namePd')?.invalid && (formPD.get('namePd')?.dirty || formPD.get('namePd')?.touched)">
                                    * Vui lòng nhập tên sản phẩm
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="imgPd">Hình ảnh</label><br>
                                <input class="formInsertEdit__input" type="text" name="imgPd" id="imgPd"
                                    formControlName="imgPd" required>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('imgPd')?.invalid && (formPD.get('imgPd')?.dirty || formPD.get('imgPd')?.touched)">
                                    * Vui lòng nhập link hình ảnh
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="pricePd">Đơn giá</label><br>
                                <input class="formInsertEdit__input" type="text" name="pricePd" id="pricePd"
                                    formControlName="pricePd" required>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('pricePd')?.errors?.['pattern'] || (formPD.get('pricePd')?.invalid && (formPD.get('pricePd')?.dirty || formPD.get('pricePd')?.touched))">
                                    * Vui lòng nhập giá sản phẩm bằng chữ số
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="salePd">Mức giảm giá</label><br>
                                <input class="formInsertEdit__input" type="text" name="salePd" id="salePd"
                                    formControlName="salePd" required>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('salePd')?.errors?.['pattern'] || (formPD.get('salePd')?.invalid && (formPD.get('salePd')?.dirty || formPD.get('salePd')?.touched))">
                                    * Vui lòng nhập đúng định dạng mức giảm giá (Vd: 0 hoặc 0.1)
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="purchasePd">Lượt mua</label><br>
                                <input class="formInsertEdit__input input-readonly" type="text" name="purchasePd"
                                    id="purchasePd" value="0" readonly>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="featuredPd">Đặc biệt</label><br>
                                <div class="formInsertEdit__input input-radio">
                                    <input type="radio" name="featuredPd" id="featuredPd" value="1"
                                        formControlName="featuredPd"><span>Sản phẩm đặc
                                        biệt</span>
                                    <input type="radio" name="featuredPd" id="featuredPd" value="0"
                                        formControlName="featuredPd"><span>Sản
                                        phẩm bình
                                        thường</span>
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="idCate">Loại sản phẩm</label><br>
                                <select class="formInsertEdit__input" name="idCate" id="idCate"
                                    formControlName="idCate">
                                    <option value="0">--- Chọn loại sản phẩm</option>
                                    <option value="{{cate.id}}" *ngFor="let cate of listCate">
                                        {{cate.nameCate}}
                                    </option>
                                </select>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('idCate')?.value=='0'">
                                    * Vui lòng chọn loại sản phẩm
                                </div>
                            </div>
                            <div class="formInsertEdit__item">
                                <label class="formInsertEdit__label" for="brandPd">Thương hiệu</label><br>
                                <input class="formInsertEdit__input" type="text" name="brandPd" id="brandPd"
                                    formControlName="brandPd" required>
                                <div style="color:red;font-size:14px;font-weight: bold;margin-bottom:10px; display: inline-block;"
                                    *ngIf="formPD.get('brandPd')?.invalid && (formPD.get('brandPd')?.dirty || formPD.get('brandPd')?.touched)">
                                    * Vui lòng nhập thương hiệu sản phẩm
                                </div>
                            </div>
                            <div class="formInsertEdit__item formInsertEdit__btn">
                                <button type="submit" name="btn-insert" class="btn-form" id="btnInsert">Thêm
                                    mới</button>
                                <button type="reset" class="btn-form">Nhập lại</button>
                                <a href="/adminProduct" class="btn-form">Danh sách</a>
                            </div>
                        </form>
                    </div>
                </section>

                <app-footer-admin></app-footer-admin>
            </div>
        </div>
    </div>
</section>