<div class="logo-admin">
    <a href="/admin" class="text-center"><img src="assets/images/logo-light.svg" alt=""></a>
</div>
<div class="title-admin">
    <div>
        <i class="fa fa-user-shield"></i><span>Trang quản trị</span>
    </div>
</div>
<div class="navbar-admin">
    <ul>
        <li><a href="/adminCate"><i class="fa fa-th-large"></i> <span>Loại sản
                    phẩm</span></a>
        </li>
        <li><a href="/adminProduct"><i class="fa-solid fa-gamepad"></i> <span>Sản
                    phẩm</span></a></li>
        <li><a href="#"><i class="fa fa-receipt"></i> <span>Đơn hàng</span></a></li>
        <li><a href="#"><i class="fa-solid fa-users"></i> <span>Tài khoản</span></a></li>
    </ul>
</div>
<div class="btn-admin">
    <a class="btn--home" href="/">Quay lại trang chủ</a>
</div>