<section class="main-admin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 left-admin">
                <app-sidebar-admin></app-sidebar-admin>
            </div>
            <div class="col-10 right-admin">
                <app-header-admin></app-header-admin>

                <section class="formInsertEdit">
                    <div class="formInsertEdit__title">
                        <h2 class="text-center">TRANG QUẢN TRỊ CỦA GADGETS</h2>
                    </div>
                </section>

                <app-footer-admin></app-footer-admin>
            </div>
        </div>
    </div>
</section>