.filter-product {
  margin-bottom: 20px;
}
#filter-select {
  width: 150px;
  padding: 5px;
  border: 1px solid #999999;
  border-radius: 10px;
  margin-left: 5px;
}
#filter-select:focus {
  outline: none;
}
